.footer {
	background: radial-gradient(45% 104.25% at 85.62% 105.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), #1F1F1D;
	padding: 68px 0;
}

.footer .footer-wrapper {
	justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	padding: 0 0 64px 0;
}

.footer-info {
	font-weight: 400;
	font-size: 17px;
	line-height: 1.5;
	color: #B4C7E7;
	width: 75%;
}

.footer-block {
	max-width: 35%;
}

.footer-text {
	margin: 20px 0;
}

.footer__menu__box {
	display: flex;
	justify-content: flex-end;
	a {
		font-weight: 700;
		font-size: 16px;
		line-height: 1.52;
		letter-spacing: 0.01em;
		color: #F6F8FC;
		text-decoration: none;
		margin: 0 0 0 25px;
		&:hover {
			text-decoration-line: underline;
		}
	}
}

.copyright-section {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 1300px;
	margin: 0 auto;
	padding: 68px 0 0 0;
}

.copyright-info {
	display: flex;
	justify-content: space-between;
}

.copyright {
	margin-top: 80px;
	font-weight: 400;
	font-size: 17px;
	line-height: 1.53;
	text-align: center;
	letter-spacing: 0.01em;
	color: #FFFFFF;
	padding: 20px 0;
}

.copyright-info__box-2 {
	margin: 0 0 0 24px;
}

@media (max-width: 1439px) {
	.copyright-section {
		max-width: 992px;
		padding: 68px 43px 0 32px;
	}

	.footer .footer-wrapper {
		max-width: 910px;
	}

	.footer-block {
		max-width: 50%;
	}
}

@media (max-width: 991px) {
	.footer-block {
		max-width: 100%;
	}

	.copyright-section {
		width: 100%;
		padding: 30px 35px 0 35px;
		flex-direction: column;
		align-items: flex-start;
	}

	.footer-block .logo {
		margin: 0;
	}

	.footer .footer-wrapper {
		max-width: 88%;
		padding: 0;
	}

	.footer-menu {
		width: 100%;
		margin: 15px 0 35px 0;
	}

	.footer__menu__box {
		justify-content: flex-start;
	}

	.footer__menu__box a {
		margin: 0 25px 0 0;
	}

	.copyright-info {
		width: 100%;
		flex-direction: column;
		margin: 0 0 20px 0;
	}

	.copyright-info__box-1 {
		margin: 0 0 10px 0;
	}

	.copyright-info__box-2 {
		margin: 0;
	}
}

