.header {
  background: radial-gradient(35.21% 43.76% at 5.1% 7.01%, rgba(0, 135, 254, 0.149164) 0%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), radial-gradient(27.36% 45.53% at 90.42% 60.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), #1F1F1D;
}

.header__top-section {
  padding: 30px 0;
}

.menu {
  flex-basis: 85%;
  display: flex;
  justify-content: end;
}

.menu__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu__box a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.01em;
  color: #F6F8FC;
  text-decoration: none;
  margin: 0 20px;
}
.menu__box a:hover {
  text-decoration: underline;
}

.current_page_item .menu__item-active {
  text-decoration: underline;
}

.header__btn {
  display: flex;
  flex-direction: row-reverse;
}

#menu-item-113 {
  text-align: center;
  padding: 15px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  margin: 0 0 0 50px;
}
#menu-item-113 a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
#menu-item-113:hover {
  text-decoration: underline;
}

#menu__toggle {
  display: none;
}

@media (max-width: 1439px) {
  .menu {
    flex-basis: 79%;
  }
  .menu__box a {
    margin: 0 15px;
    font-size: 16px;
    line-height: 120%;
  }
  #menu-item-113 {
    margin: 0 0 0 15px;
  }
}
@media (max-width: 991px) {
  .logo {
    margin: 35px 0 45px 0;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 35px;
    z-index: 1001;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
  .menu__btn > span,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.25s;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    z-index: 100;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: radial-gradient(35.21% 43.76% at 5.1% 7.01%, rgba(0, 135, 254, 0.149164) 0%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), radial-gradient(27.36% 45.53% at 90.42% 60.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), #1F1F1D;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  #menu-item-113 {
    padding: 0;
    margin: 0;
    text-align: left;
  }
}

/*# sourceMappingURL=header.css.map */
