@media (max-width: 1439px) {
	.container {
		max-width: 992px;
		padding: 0 35px;
	}
}

@media (max-width: 991px) {
	.container {
		max-width: 100%;
		padding: 0 35px;
		flex-direction: column;
	}
}
