.information-section {
	flex-direction: column;
	padding: 72px 0;
	background: radial-gradient(35.76% 44.26% at 5.1% 7.01%, rgba(0, 135, 254, 0.149164) 0%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%),
	radial-gradient(45% 104.25% at 85.62% 105.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%),
	linear-gradient(0deg, #1F1F1D, #1F1F1D), #1F1F1D;
}

.information-wrapper {
	flex-wrap: wrap;
}

.information-wrapper > * {
	width: 33%;
	flex-grow: 1;
}

.information-box {
	margin: 0 0 60px 0;
}

.info-box-title {
	font-weight: 700;
	font-size: 24px;
	line-height: 36px;
	color: #FFFFFF;
	margin: 0 0 5px 0;
}

i.fa-solid.fa-circle {
	font-size: 8px;
	text-align: center;
	vertical-align: middle;
	margin: -3px 0 0 0;
	color: $clr-primary;
}

.info-box-text {
	padding: 0 0 0 15px;
}

.info-btn {
	width: 255px;
	margin: 55px 0 0 0;
}

.information-bottom-section {
	width: 1300px;
	position: relative;
	margin: 0 auto;
	display: flex;
	justify-content: flex-end;
	border-top: 1px solid rgba(255, 255, 255, 0.4);
}

@media (max-width: 1439px) {
	.info-box-title {
		font-size: 20px;
		line-height: 32px;
	}

	.information-bottom-section {
		width: 910px;
	}

	.info-btn {
		right: 26px;
	}
}

@media (max-width: 991px) {
	.information-section {
		padding: 72px 0 92px 0;
	}

	.information-wrapper > * {
		width: 100%;
	}

	.information-box {
		margin: 0 0 30px 0;
	}

	.information-bottom-section {
		width: 88%;
	}

	a.primary-btn.info-btn {
		width: 100%;
	}
}