@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Mulish:wght@200;300;400;500;600;700;800&display=swap");
body {
  position: relative;
  background-color: #fff;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

ul {
  list-style-type: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
main {
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-width: 0;
  padding: 0;
  margin: 0;
}

input,
textarea {
  color: #333;
  border-radius: 0;
  -webkit-appearance: none;
}

input[type=button],
input[type=submit],
button {
  cursor: pointer;
}

td {
  padding: 0;
  margin: 0;
}

form {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: underline;
}

input[type=submit],
input[type=button],
button {
  -webkit-appearance: none;
}

*,
:before,
:after {
  box-sizing: border-box;
}

* {
  flex-shrink: 1;
  -webkit-tap-highlight-color: transparent;
}

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  font-size: 14px;
}

body {
  font-family: "Mulish";
  font-weight: 400;
  scroll-behavior: smooth;
  max-width: 100vw;
  min-height: 100%;
  min-width: 320px;
  overflow-x: hidden;
  color: rgba(255, 255, 255, 0.72);
}

.primary-btn {
  background: #0087FE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px 24px;
  border-radius: 2px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-decoration: none;
  border: 1px solid #0087FE;
}
.primary-btn:hover {
  background: none;
}

.title-section {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #1F1F1D;
}

.container {
  display: flex;
  flex-direction: row;
  max-width: 1300px;
  margin: 0 auto;
  position: relative;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.header {
  background: radial-gradient(35.21% 43.76% at 5.1% 7.01%, rgba(0, 135, 254, 0.149164) 0%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), radial-gradient(27.36% 45.53% at 90.42% 60.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), #1F1F1D;
}

.header__top-section {
  padding: 30px 0;
}

.menu {
  flex-basis: 85%;
  display: flex;
  justify-content: end;
}

.menu__box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.menu__box a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.52;
  letter-spacing: 0.01em;
  color: #F6F8FC;
  text-decoration: none;
  margin: 0 20px;
}
.menu__box a:hover {
  text-decoration: underline;
}

.current_page_item .menu__item-active {
  text-decoration: underline;
}

.header__btn {
  display: flex;
  flex-direction: row-reverse;
}

#menu-item-113 {
  text-align: center;
  padding: 15px;
  border: 1px solid #FFFFFF;
  text-decoration: none;
  margin: 0 0 0 50px;
}
#menu-item-113 a {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}
#menu-item-113:hover {
  text-decoration: underline;
}

#menu__toggle {
  display: none;
}

@media (max-width: 1439px) {
  .menu {
    flex-basis: 79%;
  }
  .menu__box a {
    margin: 0 15px;
    font-size: 16px;
    line-height: 120%;
  }
  #menu-item-113 {
    margin: 0 0 0 15px;
  }
}
@media (max-width: 991px) {
  .logo {
    margin: 35px 0 45px 0;
  }
  #menu__toggle {
    opacity: 0;
  }
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  .menu__btn {
    display: flex;
    align-items: center;
    position: absolute;
    top: 30px;
    right: 35px;
    z-index: 1001;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }
  .menu__btn > span,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transition-duration: 0.25s;
  }
  .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    z-index: 100;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background: radial-gradient(35.21% 43.76% at 5.1% 7.01%, rgba(0, 135, 254, 0.149164) 0%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), radial-gradient(27.36% 45.53% at 90.42% 60.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), #1F1F1D;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }
  #menu-item-113 {
    padding: 0;
    margin: 0;
    text-align: left;
  }
}
.title {
  margin-top: 145px;
  font-weight: 700;
  font-size: 40px;
  line-height: 60px;
  color: #FFFFFF;
}

.main-section__wrapper > * {
  width: 50%;
  flex-grow: 1;
}

.header__main-section__img {
  width: 50%;
}

img.main_section_img {
  max-width: 570px;
  max-height: 568px;
}

.description {
  margin: 16px 175px 48px 0;
  font-size: 16px;
  line-height: 24px;
}

.buttons {
  display: flex;
  margin: 0 0 25px 0;
}

.number {
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-decoration-line: underline;
  color: #FFFFFF;
  margin: 12px 0 0 32px;
}
.number:hover {
  text-decoration: none;
}

@media (max-width: 1439px) {
  .title {
    margin-top: 110px;
    font-size: 32px;
    line-height: 48px;
  }
  .btn-link {
    padding: 12px 15px;
  }
  img.main_section_img {
    width: 100%;
    height: 100%;
  }
  .description {
    margin: 16px 130px 40px 0;
  }
}
@media (max-width: 991px) {
  img.main_section_img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
  .main-section__wrapper > * {
    width: 100%;
  }
  .title {
    margin-top: 0;
  }
  .description {
    margin: 10px 0 25px 0;
  }
}
.possibilities-section__wrapper > * {
  width: 50%;
  flex-grow: 1;
}

.possibilities-section {
  padding: 80px 0;
}

.possibilities-title {
  margin: 180px 0 15px 0;
  padding: 0 55px 0 0;
}

img.possibilities_img {
  max-width: 552px;
  max-height: 574px;
}

.list-item {
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #1F1F1D;
  opacity: 0.8;
  margin: 0 0 10px 0;
}

i.fa-solid.fa-check {
  color: #0087FE;
  background: rgba(0, 135, 254, 0.1);
  width: 24px;
  height: 24px;
  border-radius: 99px;
  text-align: center;
  padding: 5px 0 0 0;
  margin: 0 10px 0 0;
}

@media (max-width: 1439px) {
  img.possibilities_img {
    width: 100%;
    height: 100%;
  }
  .possibilities-section__text {
    padding: 0 0 0 40px;
  }
  .possibilities-title {
    margin: 120px 0 15px 0;
    padding: 0;
    font-size: 24px;
    line-height: 36px;
  }
}
@media (max-width: 991px) {
  .possibilities-section__wrapper > * {
    width: 100%;
  }
  .container.possibilities-section__wrapper {
    flex-direction: column-reverse;
  }
  .possibilities-section__text {
    padding: 0;
  }
  .possibilities-title {
    margin: 0 0 15px 0;
  }
  img.possibilities_img {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}
.information-section {
  flex-direction: column;
  padding: 72px 0;
  background: radial-gradient(35.76% 44.26% at 5.1% 7.01%, rgba(0, 135, 254, 0.149164) 0%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), radial-gradient(45% 104.25% at 85.62% 105.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), linear-gradient(0deg, #1F1F1D, #1F1F1D), #1F1F1D;
}

.information-wrapper {
  flex-wrap: wrap;
}

.information-wrapper > * {
  width: 33%;
  flex-grow: 1;
}

.information-box {
  margin: 0 0 60px 0;
}

.info-box-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin: 0 0 5px 0;
}

i.fa-solid.fa-circle {
  font-size: 8px;
  text-align: center;
  vertical-align: middle;
  margin: -3px 0 0 0;
  color: #0087FE;
}

.info-box-text {
  padding: 0 0 0 15px;
}

.info-btn {
  width: 255px;
  margin: 55px 0 0 0;
}

.information-bottom-section {
  width: 1300px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
}

@media (max-width: 1439px) {
  .info-box-title {
    font-size: 20px;
    line-height: 32px;
  }
  .information-bottom-section {
    width: 910px;
  }
  .info-btn {
    right: 26px;
  }
}
@media (max-width: 991px) {
  .information-section {
    padding: 72px 0 92px 0;
  }
  .information-wrapper > * {
    width: 100%;
  }
  .information-box {
    margin: 0 0 30px 0;
  }
  .information-bottom-section {
    width: 88%;
  }
  a.primary-btn.info-btn {
    width: 100%;
  }
}
.services-section {
  padding: 72px 0;
}

.services-wrapper {
  max-width: 1300px;
  margin: 0 auto;
}

.services-main-title {
  text-align: center;
}
.services-main-title span {
  color: #0087FE;
}

.services-box {
  margin: 50px 0 0 0;
  max-width: 25%;
  padding: 0 35px;
}
.services-box .wp-post-image {
  margin: 0 auto;
  display: block;
}

.services-box-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #1F1F1D;
}

.services-box p {
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.2px;
  color: #5F5F5C;
}

@media (max-width: 1439px) {
  .services-main-title {
    font-size: 24px;
    line-height: 36px;
  }
  .services-box-title {
    font-size: 16px;
    line-height: 24px;
    margin: 10px 0;
  }
  .services-box {
    padding: 0 12px;
  }
}
@media (max-width: 991px) {
  .services-box {
    max-width: 100%;
    padding: 0;
  }
}
.blog-section {
  padding: 100px 0;
}

.blog-wrapper {
  display: flex;
  max-width: 1300px;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-between;
}

.blog-container {
  justify-content: space-between;
}

.post {
  width: 23%;
  background: #fff;
  border-radius: 5px;
  margin: 60px 0 0 0;
}

.post-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  color: #1F1F1D;
  margin-top: 25px;
}

.post-info {
  margin: 16px 0 0 0;
  display: flex;
  justify-content: space-between;
}

.read-more-btn {
  color: #1F1F1D;
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  letter-spacing: 0.2px;
  text-decoration-line: underline;
}
.read-more-btn:hover {
  text-decoration-line: none;
}

.primary-btn.blog-btn:hover {
  color: #000;
}

.post .wp-post-image {
  width: 100%;
  max-height: 237px;
}

.post-date {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: #9B9B99;
}

@media (max-width: 1439px) {
  .blog-wrapper {
    max-width: 992px;
    padding: 0 32px;
  }
  .blog-container {
    max-height: 480px;
    overflow: hidden;
  }
  .post {
    width: 48%;
  }
  .post .wp-post-image {
    width: 100%;
  }
}
@media (max-width: 991px) {
  .post {
    width: 100%;
    margin: 40px 0;
  }
  .blog-wrapper {
    max-width: 100%;
    padding: 0 35px;
    margin: 0 auto;
    flex-wrap: wrap;
  }
  .blog-container {
    max-height: none;
  }
  .title-section {
    margin: 0 0 15px 0;
  }
  .post .wp-post-image {
    width: 100%;
    height: 100%;
    max-height: 450px;
  }
}
.footer {
  background: radial-gradient(45% 104.25% at 85.62% 105.07%, rgba(0, 135, 254, 0.2) 0%, rgba(0, 135, 254, 0) 100%), #1F1F1D;
  padding: 68px 0;
}

.footer .footer-wrapper {
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  padding: 0 0 64px 0;
}

.footer-info {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.5;
  color: #B4C7E7;
  width: 75%;
}

.footer-block {
  max-width: 35%;
}

.footer-text {
  margin: 20px 0;
}

.footer__menu__box {
  display: flex;
  justify-content: flex-end;
}
.footer__menu__box a {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.52;
  letter-spacing: 0.01em;
  color: #F6F8FC;
  text-decoration: none;
  margin: 0 0 0 25px;
}
.footer__menu__box a:hover {
  text-decoration-line: underline;
}

.copyright-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 1300px;
  margin: 0 auto;
  padding: 68px 0 0 0;
}

.copyright-info {
  display: flex;
  justify-content: space-between;
}

.copyright {
  margin-top: 80px;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.53;
  text-align: center;
  letter-spacing: 0.01em;
  color: #FFFFFF;
  padding: 20px 0;
}

.copyright-info__box-2 {
  margin: 0 0 0 24px;
}

@media (max-width: 1439px) {
  .copyright-section {
    max-width: 992px;
    padding: 68px 43px 0 32px;
  }
  .footer .footer-wrapper {
    max-width: 910px;
  }
  .footer-block {
    max-width: 50%;
  }
}
@media (max-width: 991px) {
  .footer-block {
    max-width: 100%;
  }
  .copyright-section {
    width: 100%;
    padding: 30px 35px 0 35px;
    flex-direction: column;
    align-items: flex-start;
  }
  .footer-block .logo {
    margin: 0;
  }
  .footer .footer-wrapper {
    max-width: 88%;
    padding: 0;
  }
  .footer-menu {
    width: 100%;
    margin: 15px 0 35px 0;
  }
  .footer__menu__box {
    justify-content: flex-start;
  }
  .footer__menu__box a {
    margin: 0 25px 0 0;
  }
  .copyright-info {
    width: 100%;
    flex-direction: column;
    margin: 0 0 20px 0;
  }
  .copyright-info__box-1 {
    margin: 0 0 10px 0;
  }
  .copyright-info__box-2 {
    margin: 0;
  }
}
@media (max-width: 1439px) {
  .container {
    max-width: 992px;
    padding: 0 35px;
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 100%;
    padding: 0 35px;
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
